<!DOCTYPE html>
<html>

<head>
	<title> {{ title }} </title>

	<meta property=”og:title” content="{{ ogtitle }}" />
	<meta property=”og:url” content=”{{ ogurl }}” />
	<meta property=”og:type” content=”website” />
	<meta property=”og:description” content=”{{ ogdescription }}” />
	<meta property=”og:image” content=”{{ ogimage }}” />

	
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>
	{{ user_id }}
	{{{ body }}}

</body>

</html>