<h1>User Recipes</h1>

	<p>{{ recipe2.dataValues.name }}</p>
	<p>{{ recipe2.dataValues.description }}</p>
	<img src="{{ recipe2.dataValues.image }}">
	<p>{{ recipe2.dataValues.ingredients }}</p>
	<p>{{ recipe2.dataValues.steps }}</p>





